//body
//  header
//  content
//    leftDiv
//      leftDivContent
//    rightDiv
//      rightDivContent

// 1vh = 1% of viewport height.
// overflow-y: scroll;


//MOBILE FIRST
// -------------------------------COLORS
$tronBlue: #53fdff;
$black: #000000;
$tronOrange: #fd5f00;
$white: #ffffff;

// -------------------------------FONTS
@font-face {
    font-family: 'Tron';
    src: url('/tron-font/tron.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Electrolize');

$tronFont: 'Tron', sans-serif;
$electroFont: 'Electrolize', sans-serif;





// TABLET FIRST



// DESKTOP FIRST