@import url("https://fonts.googleapis.com/css?family=Electrolize");
@font-face {
  font-family: 'Tron';
  src: url("tron.ttf"); }
* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  box-sizing: border-box; }

html {
  background-image: url(/assets/tronbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: black; }

body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.68); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #53fdff;
  font-family: "Tron", sans-serif; }

p {
  color: #ffffff;
  font-family: "Electrolize", sans-serif; }

a {
  color: #ffffff;
  font-family: "Electrolize", sans-serif; }

#zen-preamble > h3 {
  margin-top: 30px; }

.intro {
  margin: 20px;
  font-size: 15px;
  width: 26vw;
  position: absolute;
  top: 10vh;
  z-index: 11; }

.extra1 {
  background-image: url(/assets/tron-01.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 290px;
  height: 50px;
  animation: slideFromLeftFlash 10s infinite; }

.extra2 {
  background-image: url(/assets/tron-02.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 270px;
  position: absolute;
  width: 100px;
  height: 50px;
  animation: slideFromLeftBiker 10s infinite; }

@keyframes slideFromLeftFlash {
  0% {
    left: -390px;
    opacity: 1; }
  40% {
    left: 0px;
    opacity: 0; }
  60% {
    left: 125%;
    opacity: 1; }
  61% {
    opacity: 0; }
  80% {
    left: -390px;
    opacity: 0; }
  81% {
    opacity: 1; }
  100% {
    left: -250px;
    opacity: 0; } }
@keyframes slideFromLeftBiker {
  0% {
    left: -120px; }
  40% {
    left: 270px; }
  60% {
    left: 150%;
    opacity: 1; }
  61% {
    opacity: 0; }
  80% {
    left: -120px;
    opacity: 0; }
  81% {
    opacity: 1; }
  100% {
    left: -150px; } }
.extra3 {
  height: 2px;
  width: 50px;
  background: #53fdff;
  margin-top: 25em;
  position: absolute;
  z-index: -10;
  animation: pulseLeft .95s infinite; }

@keyframes pulseLeft {
  55% {
    margin-left: 10em;
    width: 60px; }
  85% {
    margin-left: 30em;
    width: 80px; }
  100% {
    margin-left: 50em;
    width: 100px; } }
.extra4 {
  height: 2px;
  width: 50px;
  background: #53fdff;
  margin-top: 14.5em;
  right: 0;
  position: absolute;
  z-index: 0;
  animation: pulseRight 7s infinite; }

@keyframes pulseRight {
  55% {
    margin-right: 10em;
    width: 60px; }
  85% {
    margin-right: 30em;
    width: 80px; }
  90% {
    margin-right: 32em;
    width: 80px; }
  95% {
    margin-right: 40em;
    width: 80px; }
  100% {
    margin-right: 80em;
    width: 100px; } }
.extra5 {
  height: 2px;
  width: 50px;
  background: #53fdff;
  margin-top: 17.5em;
  right: 0;
  position: absolute;
  z-index: 0;
  animation: pulseRight 2s infinite; }

.extra6 {
  background: url(/assets/official_tron_logo.svg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  border-radius: 0px 0px 0px 5px; }

#zen-supporting {
  position: absolute;
  top: 135px;
  left: 38vw;
  height: 560px;
  z-index: 25;
  animation: float 5s infinite; }

.sidebar {
  position: absolute;
  top: 10vh;
  left: 70vw;
  margin: 20px; }

.wrapper div ul li {
  list-style: none;
  list-style-image: url(/assets/trondisk_15px.png); }

@keyframes float {
  60% {
    transform: translateY(-30px); } }
#zen-supporting div,
#zen-supporting footer {
  background: black;
  height: 250px;
  width: 250px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  box-shadow: 10px 10px 50px 20px rgba(83, 253, 255, 0.35);
  transition: all 0.3s ease-out;
  padding: 15px;
  text-align: center; }

#zen-supporting div:hover,
#zen-supporting footer:hover {
  z-index: 11;
  box-shadow: 10px 10px 50px 2000px rgba(83, 253, 255, 0.35);
  width: 300px;
  height: 400px;
  padding: 10px;
  transform-origin: 100% 100%; }

#zen-supporting div:hover > .aside {
  display: none; }

#zen-explanation {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(0);
  z-index: 10; }

#zen-explanation:hover {
  transform: translateY(0) rotateX(20deg) rotateZ(0deg) translateZ(0) scale(1.2); }

#zen-participation {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(250px);
  z-index: 9; }

#zen-participation:hover {
  transform: translateY(-250px) rotateX(20deg) rotateZ(0deg) translateZ(0) scale(1.2); }

#zen-benefits {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(500px);
  z-index: 8; }

#zen-benefits:hover {
  transform: translateY(-500px) rotateX(20deg) rotateZ(0deg) translateZ(0) scale(1.2); }

#zen-requirements {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(750px);
  z-index: 7; }

#zen-requirements:hover {
  transform: translateY(-600px) rotateX(20deg) rotateZ(0deg) translateZ(0) scale(1.2); }

footer {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(1000px);
  z-index: 6; }

footer:hover {
  transform: translateY(-700px) rotateX(20deg) rotateZ(0deg) translateZ(0) scale(1.2); }

.sidebar div div h3 {
  text-shadow: 0 0 10px #ffffff;
  animation: flicker 2s infinite alternate; }

@keyframes flicker {
  20%,
    24%,
    75% {
    text-shadow: none; } }
.sidebar div div {
  margin-bottom: 20px; }

.design-name {
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.2em; }

.designer-name {
  text-align: right; }

@media screen and (min-width: 1400px) {
  #zen-supporting {
    left: 40vw; } }
@media screen and (max-width: 900px) {
  .intro {
    height: 225px;
    overflow: scroll;
    width: 100%;
    top: 5%;
    margin: 0;
    padding: 20px;
    border: 1px solid #53fdff;
    z-index: 0;
    box-shadow: 0px -10px 74px 31px rgba(83, 253, 255, 0.35); }

  .sidebar {
    height: 280px;
    overflow: scroll;
    left: 0;
    top: 530px;
    width: 100%;
    margin: 0;
    padding: 20px 20px 20px 40px;
    border: 1px solid #53fdff;
    box-shadow: 0px -10px 50px 15px rgba(83, 253, 255, 0.35); }

  #zen-supporting {
    position: absolute;
    top: 265px;
    left: 5px;
    height: 225px;
    overflow: hidden;
    overflow-y: scroll;
    animation: none; }

  #zen-supporting div,
  #zen-supporting footer {
    background: none;
    height: auto;
    width: auto;
    overflow: visible;
    overflow-y: visible;
    position: relative;
    box-shadow: none;
    transition: all 0.3s ease-out;
    padding: 15px;
    text-align: center; }

  #zen-participation,
  #zen-explanation,
  #zen-benefits,
  #zen-requirements,
  footer {
    transform: none; }
    #zen-participation:hover,
    #zen-explanation:hover,
    #zen-benefits:hover,
    #zen-requirements:hover,
    footer:hover {
      transform: none; }

  .extra6 {
    background: url(/assets/official_tron_logo.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 35px;
    position: absolute;
    right: 0;
    border-radius: 0px 0px 0px 5px; } }

/*# sourceMappingURL=style.css.map */
