@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded');

*{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.win ul li{
    grid-column: 1/3;
    list-style-type: none;
    font-size: 6em;
}

.ter ul li{
    grid-column: 3/4;
    list-style-type: none;
    font-size: 6em;
}
