@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded');

*{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.win ul li{
    display: grid;
    grid-template-columns: 50%;
    list-style-type: none;
    font-size: 6em;
}

.ter ul li{
    display: grid;
    grid-template-columns: 50%;
    grid-column: 2/3;
    list-style-type: none;
    font-size: 6em;
}
